h1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; color:rgb(238, 173, 222) 
}
h3{
    font-family: Arial, Helvetica, sans-serif; color: rgb(238, 173, 222);
}

body{
    background-color: rgb(151, 149, 149);
}

h2{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; color:rgb(250, 245, 249)
}
